@model IEnumerable<RAS.Bootcamp.mvc.Models.Entities.Penjual>

@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewBag.Title = "index";
}

<h2 class = "center">Data Input</h2>

<table class="table">
    <tr>
        <th class="thead">
            @Html.DisplayNameFor(model => model.IdPenjual)
        </th>
        <th class="thead">
            @Html.DisplayNameFor(model => model.IdUser)
        </th>
        <th class="thead">
            @Html.DisplayNameFor(model => model.Nama_Toko)
        </th>
         <th class="thead">
            @Html.DisplayNameFor(model => model.Alamat)
        </th>
        <th class="thead" class="text-align:center">
            Action
        </th>
    </tr>
@if(Model != null)
{
  @foreach (var item in Model) {
      <tr>
          <td class="thead">
              @Html.DisplayFor(modelItem => item.IdPenjual)
          </td class="thead">
          <td class="thead">
              @Html.DisplayFor(modelItem => item.IdUser)
          </td>
          <td class="thead">
              @Html.DisplayFor(modelItem => item.Nama_Toko)
          </td>
          <td class="thead">
              @Html.DisplayFor(modelItem => item.Alamat)
          </td>
          <td>
              <a type="Update" class="btn btn-success" asp-route-id="@item.IdPenjual" asp-controller="Penjual" asp-action="UpdatePenjual">Update</a>
              <a type="Delete" class="btn btn-danger" asp-route-id="@item.IdPenjual" asp-controller="Penjual" asp-action="DeletePenjual">Delete</a>
          </td>
      </tr>       
  }
}

<td>
   <a class="btn btn-outline-primary" asp-controller="Penjual" asp-action="CreatePenjual"><i class="far fa-plus-square"></i>Create</a>
</td>




</table>